{% extends 'base.html.twig' %}

{% block editCreateFilm %}
<div class="container" style="margin-top: 30px; margin-bottom: 30px; border: 0.5px solid black; padding: 20px; border-radius: 10px; background-color: white;">
    {% if film is defined %}
    <h1 class="text-center mb-3">Editar Película</h1>
        {% if film.image is defined %}
            <div class="d-flex justify-content-center">
                <img src="{{film.image}}" alt="film" class="card-img-top align-self-center" style="width: 250px; height: auto;">
            </div>
        {% endif %}
    {{form(filmForm)}} 
    {% else %}
    <h1 class="text-center mb-3">Crear Nueva Película</h1>
    {{form(filmForm)}}
    {% endif %}
</div>
{% endblock %}