{% extends 'base.html.twig' %}

{% block editCreateCharacter %}
<div class="container" style="margin-top: 30px; margin-bottom: 30px; border: 0.5px solid black; padding: 20px; border-radius: 10px; background-color: white;">
    {% if character is defined %}
    <h1 class="text-center mb-3">Editar Personaje</h1>
    {% if character.image is defined %}
        <div class="d-flex justify-content-center">
            <img src="{{character.image}}" alt="character" class="card-img-top align-self-center" style="width: 250px; height: auto;">
        </div>
    {% endif %}
    {{form(characterForm)}} 
    {% else %}
    <h1 class="text-center mb-3">Crear Nuevo Personaje</h1>
    {{form(characterForm)}}
    {% endif %}
</div>
{% endblock %}